.title_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(311px);
  font-weight: 900;
  letter-spacing: rem(-2px);
  line-height: 1;
}

.subline {
  font-size: 60px;
}

.scroll {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.storyline {
  max-width: 840px;
  margin: 0 auto 100px;
}

.storyline p {
  /*margin-top: -300px;*/
  font-family: 'Zen Kaku Gothic New', serif;
  font-size: rem(32px);
  font-weight: bold;
  line-height: 2.5;
  margin-bottom: 40px;
}

.storyline button {
  font-size: inherit;
}

.storyline h2 {
  font-family: 'lato', serif;
  font-size: 50px;
}

.blockquote button {
  font-size: inherit;
}

.opensea {
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opensea img {
  width: 200px;
  height: 200px;
}

.steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.steps img {
  /*width: calc(100% / 3 - 20px);*/
  width: 100%;
  height: auto;
  object-fit: contain;
}

.members {
  display: flex;
  gap: 30px;
  padding: 0 0 100px;
}

.member {
  width: calc(100% / 3 - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member h3 {
  text-align: center;
}

.member_qr img{
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.avator {
  width: 200px;
  height: 200px;
  background-size: contain;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.ibkit {
  background-image: url("./ibkit-prof.jpg");
}
.rdc {
  background-image: url("./rdc-prof.jpg");
}
.akihiro {
  background-image: url("./kato-prof.jpg");
}
